In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [2]:
athlete = pd.read_csv("/content/athlete_events.csv")
region = pd.read_csv("/content/athlete_events.csv")

In [3]:
#Identifying the duplicate values
athlete.duplicated().sum()

1385

In [4]:
athlete.drop_duplicates(inplace = True)

In [5]:
athlete.duplicated().sum()

0

In [6]:
#Displaying the columns in the dataset
athlete.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [7]:
#The first step is to check the null values in each individual column

print(athlete["ID"].isnull().value_counts())
print("There are no null values in the ID column")

False    269731
Name: ID, dtype: int64
There are no null values in the ID column

In [8]:
# Checking null values in the name column
print(athlete['Name'].isnull().value_counts())
print("There are no null values in the Name column")

False    269731
Name: Name, dtype: int64
There are no null values in the Name column

In [9]:
#Checking null values in the Sex column

print(athlete['Sex'].isnull().value_counts(),"\n") 
print("Data in the column \n",athlete['Sex'].value_counts())

False    269731
Name: Sex, dtype: int64

Data in the column
 M    195353
F     74378
Name: Sex, dtype: int64

In [10]:
#Checking null values in the Age colum
print(athlete['Age'].isnull().value_counts(),"\n") 
print("Finding invalid age \n",athlete["Age"][(athlete['Age']>100) | (athlete['Age']<0)])

False    260416
True       9315
Name: Age, dtype: int64

Finding invalid age
 Series([], Name: Age, dtype: float64)

In [11]:
#Replacing null values with mean
mean_val = athlete['Age'].mean()
athlete['Age'].fillna(value=mean_val, inplace=True)
print(athlete['Age'].isnull().value_counts(),"\n")

False    269731
Name: Age, dtype: int64

In [12]:
#Checking null values in the Height column
print(athlete['Height'].isnull().value_counts(),"\n")

False    210917
True      58814
Name: Height, dtype: int64

In [13]:
#Replacing null values with mean
mean_val = athlete['Height'].mean()
athlete['Height'].fillna(value=mean_val, inplace=True)
print(athlete['Height'].isnull().value_counts(),"\n")

False    269731
Name: Height, dtype: int64

In [14]:
#Checking null values in the weight column
print(athlete['Weight'].isnull().value_counts(),"\n") #There are 62875 null values
print("Chcking for invalid data \n",athlete["Weight"][athlete["Weight"]<=0])

False    208204
True      61527
Name: Weight, dtype: int64

Chcking for invalid data
 Series([], Name: Weight, dtype: float64)

In [15]:
#Replacing null values with median
med_val = athlete['Weight'].median()
athlete['Weight'].fillna(value=med_val, inplace=True)
print(athlete['Weight'].isnull().value_counts(),"\n")

False    269731
Name: Weight, dtype: int64

In [16]:
#Checking null values in the weight column
print(athlete['Team'].isnull().value_counts(),"\n") 
print("Data \n",athlete['Team'].value_counts())

False    269731
Name: Team, dtype: int64

Data
 United States    17598
France           11817
Great Britain    11264
Italy            10213
Germany           9230
                 ...
Souriceau-38         1
Carabinier-5         1
Ducky-4              1
Ducky-16             1
Digby                1
Name: Team, Length: 1184, dtype: int64

In [17]:
#Checking null values in the NOC column
print(athlete['NOC'].isnull().value_counts(),"\n") 
print("Data \n",athlete['NOC'].value_counts())

False    269731
Name: NOC, dtype: int64

Data
 USA    18604
FRA    12551
GBR    12115
ITA    10668
GER     9734
       ...
YMD        5
SSD        3
UNK        2
NBO        2
NFL        1
Name: NOC, Length: 230, dtype: int64

In [18]:
#Checking null values in the games column
print(athlete['Games'].isnull().value_counts(),"\n") 
print("Data \n",athlete['Games'].value_counts())

False    269731
Name: Games, dtype: int64

Data
 2000 Summer    13821
1996 Summer    13780
2016 Summer    13688
2008 Summer    13602
2004 Summer    13443
1992 Summer    12977
2012 Summer    12920
1988 Summer    12037
1972 Summer    10304
1984 Summer     9454
1976 Summer     8641
1968 Summer     8588
1952 Summer     8270
1960 Summer     8119
1964 Summer     7702
1980 Summer     7191
1948 Summer     6308
1936 Summer     6251
1956 Summer     5127
1924 Summer     5110
2014 Winter     4891
1928 Summer     4656
2010 Winter     4402
2006 Winter     4382
1920 Summer     4292
2002 Winter     4109
1912 Summer     4040
1998 Winter     3605
1992 Winter     3436
1994 Winter     3160
1908 Summer     3069
1988 Winter     2639
1932 Summer     2465
1984 Winter     2134
1900 Summer     1898
1968 Winter     1891
1976 Winter     1861
1964 Winter     1778
1980 Winter     1746
1906 Summer     1733
1972 Winter     1655
1956 Winter     1307
1904 Summer     1301
1960 Winter     1116
1952 Winter     1088
1948 Winter     1075
1936 Winter      895
1928 Winter      582
1924 Winter      460
1896 Summer      380
1932 Winter      352
Name: Games, dtype: int64

In [19]:
#Checking null values in the year column
print(athlete['Year'].isnull().value_counts(),"\n") 
print("Data \n",athlete['Year'].value_counts())

False    269731
Name: Year, dtype: int64

Data
 1992    16413
1988    14676
2000    13821
1996    13780
2016    13688
2008    13602
2004    13443
2012    12920
1972    11959
1984    11588
1976    10502
1968    10479
1964     9480
1952     9358
1960     9235
1980     8937
1948     7383
1936     7146
1956     6434
1924     5570
1928     5238
2014     4891
2010     4402
2006     4382
1920     4292
2002     4109
1912     4040
1998     3605
1994     3160
1908     3069
1932     2817
1900     1898
1906     1733
1904     1301
1896      380
Name: Year, dtype: int64

In [20]:
#Checking null values for season column
print(athlete['Season'].isnull().value_counts(),"\n") 
print("Data \n",athlete['Season'].value_counts())

False    269731
Name: Season, dtype: int64

Data
 Summer    221167
Winter     48564
Name: Season, dtype: int64

In [21]:
#Checking null values for season column 
print(athlete['City'].isnull().value_counts(),"\n") 
print("Data \n",athlete['City'].value_counts())

False    269731
Name: City, dtype: int64

Data
 London                    22297
Athina                    15556
Sydney                    13821
Atlanta                   13780
Rio de Janeiro            13688
Beijing                   13602
Barcelona                 12977
Seoul                     12037
Los Angeles               11919
Munich                    10304
Montreal                   8641
Mexico City                8588
Helsinki                   8270
Roma                       8119
Tokyo                      7702
Moskva                     7191
Paris                      7008
Berlin                     6251
Sochi                      4891
Melbourne                  4829
Amsterdam                  4656
Vancouver                  4402
Torino                     4382
Stockholm                  4338
Antwerpen                  4292
Salt Lake City             4109
Innsbruck                  3639
Nagano                     3605
Albertville                3436
Lillehammer                3160
Calgary                    2639
Sarajevo                   2134
Lake Placid                2098
Grenoble                   1891
Sankt Moritz               1657
Sapporo                    1655
Cortina d'Ampezzo          1307
St. Louis                  1301
Squaw Valley               1116
Oslo                       1088
Garmisch-Partenkirchen      895
Chamonix                    460
Name: City, dtype: int64

In [22]:
#Checking null values in Sport 
print(athlete['Sport'].isnull().value_counts(),"\n") #There are no null values
print("Data \n",athlete['Sport'].value_counts())

False    269731
Name: Sport, dtype: int64

Data
 Athletics        38624
Gymnastics       26707
Swimming         23195
Shooting         11448
Cycling          10827
                 ...
Racquets            12
Jeu De Paume        11
Roque                4
Basque Pelota        2
Aeronautics          1
Name: Sport, Length: 66, dtype: int64

In [23]:
# Checking null values Event 
print("Checking for null values \n",athlete['Event'].isnull().value_counts(),"\n") 
print("Data \n",athlete['Event'].value_counts())

Checking for null values
 False    269731
Name: Event, dtype: int64

Data
 Football Men's Football                                5733
Ice Hockey Men's Ice Hockey                            4762
Hockey Men's Hockey                                    3958
Water Polo Men's Water Polo                            3358
Basketball Men's Basketball                            3280
                                                       ...
Archery Men's Target Archery, 33 metres, Individual       2
Archery Men's Target Archery, 50 metres, Individual       2
Sailing Mixed 18 foot                                     2
Croquet Mixed Doubles                                     2
Aeronautics Mixed Aeronautics                             1
Name: Event, Length: 765, dtype: int64

In [24]:
#The null values in Medal column are not actually null. They indicate that there has been no medal acheivement.
print("Checking for null values \n",athlete['Medal'].isnull().value_counts(),"\n") #There are 231333 entries without the medal 
print("Insights on the column \n",athlete['Medal'].describe(),"\n")
print("Data \n",athlete['Medal'].value_counts())

Checking for null values
 True     229959
False     39772
Name: Medal, dtype: int64

Insights on the column
 count     39772
unique        3
top        Gold
freq      13369
Name: Medal, dtype: object

Data
 Gold      13369
Bronze    13295
Silver    13108
Name: Medal, dtype: int64

In [25]:
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
#Merge both the dataframes
athlete_merged = athlete.merge(region, how = 'left', on = 'NOC')
athlete_merged.head()

In [ ]:
athlete_merged.shape

In [ ]:
athlete_merged.rename(columns={'region': 'Region', 'notes': 'Notes'}, inplace= True)

In [ ]:
# Performing Exploratory Data Analysis

In [ ]:
athlete_merged.info()

In [ ]:
athlete_merged.describe()
print(type(athlete_merged))

In [ ]:
athlete_merged.isnull().sum()

Implementing analysis upon unique sports

In [1]:
athlete_merged['Medal'].value_counts()

NameError: ignored

In [ ]:
pd.get_dummies(athlete_merged['Medal'])

In [ ]:
athlete_merged = pd.concat([athlete_merged,pd.get_dummies(athlete_merged['Medal'])], axis = 1)

In [ ]:
athlete_merged.groupby('NOC').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold', ascending = False)

In [ ]:
athlete_merged.groupby('Sport').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold', ascending = False)

In [ ]:
# Athlete details for the country India

athlete_merged.query('Team == "India"').head()

In [ ]:
# Top participating countries in Olympics
top_10_countries = athlete_merged.Team.value_counts().sort_values(ascending=False).head(10)
top_10_countries

In [ ]:
# Top participating countries in Olympics
top_10_countries = athlete_merged.Team.value_counts().sort_values(ascending=False).head(10)
top_10_countries

In [ ]:
#Plot for the top 10 countries

plt.figure(figsize=(12,6))
#plt.xticks(rotation=20)
plt.title('Overall Participation by Country')
sns.barplot(x=top_10_countries.index, y=top_10_countries);

In [ ]:
plt.figure(figsize=(12,6))
plt.title("Age distribution of the athletes")
plt.xlabel('Age')
plt.ylabel('Number of Participants')
plt.hist(athlete_merged.Age, bins = np.arange(10,80,2), color='red', edgecolor = 'white');

In [ ]:
winter_games = athlete_merged[athlete_merged.Season == 'Winter'].Sport.unique()
winter_games

In [ ]:
summer_games = athlete_merged[athlete_merged.Season == 'Summer'].Sport.unique()
summer_games

In [ ]:
# = athlete_merged.Sex.value_count()
#athlete.value_counts(normalize=True) 
#gender_value_count
gender_count = athlete_merged["Sex"].value_counts()
gender_count.to_frame()

In [ ]:
plt.figure(figsize=(12,6))
plt.title('Gender Distribution')
plt.pie(gender_count, labels= gender_count, autopct = "%1.1f%%", startangle=180, shadow= True);

In [ ]:
athlete_merged.Medal.value_counts()

In [ ]:
female_participants = athlete_merged[(athlete_merged.Sex=='F')& (athlete_merged.Season=='Summer')][['Sex', 'Year']]
female_participants = female_participants.groupby('Year').count().reset_index()
female_participants.head()

In [ ]:
womenOlympics = athlete_merged[(athlete_merged.Sex == 'F') & (athlete_merged.Season == 'Summer')]

In [ ]:
sns.set(style="darkgrid")
plt.figure(figsize=(20,10))
sns.countplot(x='Year', data=womenOlympics, palette="Spectral")
plt.title('Women Participation')

In [ ]:
part = womenOlympics.groupby('Year')['Sex'].value_counts()
plt.figure(figsize=(20,10))
part.loc[:,'F'].plot()
plt.title('Plot of Female Athletes over time')

In [ ]:
goldMedals = athlete_merged[(athlete_merged.Medal == 'Gold')]
goldMedals

In [ ]:
totalGoldMedals = goldMedals.Region.value_counts().reset_index(name='Medal').head(6)
plot = sns.catplot(x="index", y = "Medal", data = totalGoldMedals, height =5, kind='bar', palette="Set3")
plot.despine(left = True)
plot.set_xlabels("Top 5 Countries")
plot.set_ylabels("Number of Medals")
plt.title('Gold Medals per Country')