In [110]:
# Identified basic essential libraries 
import pandas as pd
import numpy as np
import matplotlib as mp

In [2]:
athlete_events=pd.read_csv("athlete_events.csv")

In [3]:
#There are 15 columns
athlete_events.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [5]:
#C1: ID, checking if there are any null values in the ID column
athlete_events["ID"].isnull().value_counts()

False    271116
Name: ID, dtype: int64

In [111]:
#C2: Name, there are no null values
print(athlete_events['Name'].isnull().value_counts())

False    271116
Name: Name, dtype: int64

In [118]:
#C3: Sex

print("Checking for null values \n",athlete_events['Sex'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",athlete_events['Sex'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['Sex'].value_counts())

Checking for null values
 False    271116
Name: Sex, dtype: int64

Insight on the column
 count     271116
unique         2
top            M
freq      196594
Name: Sex, dtype: object

Unique Values and their counts
 M    196594
F     74522
Name: Sex, dtype: int64

In [122]:
#C4: Age 
print("Checking for null values \n",athlete_events['Age'].isnull().value_counts(),"\n") #There are 9474 null values
print("Finding invalid age\n",athlete_events["Age"][(athlete_events['Age']>100) | (athlete_events['Age']<0)])

Checking for null values
 False    261642
True       9474
Name: Age, dtype: int64

Finding invalid age
 Series([], Name: Age, dtype: float64)

In [125]:
#C5: Height
print("Checking for null values\n",athlete_events['Height'].isnull().value_counts(),"\n") #There are 60171 null values
print("Insights on the column data\n",athlete_events['Height'].describe(),"\n")

Checking for null values
 False    210945
True      60171
Name: Height, dtype: int64

Insights on the column data
 count    210945.000000
mean        175.338970
std          10.518462
min         127.000000
25%         168.000000
50%         175.000000
75%         183.000000
max         226.000000
Name: Height, dtype: float64

In [129]:
#C6: Weight
print("Checking for null values\n",athlete_events['Weight'].isnull().value_counts(),"\n") #There are 62875 null values
print("Insights on the column data\n",athlete_events['Weight'].describe(),"\n")
print("Chcking for invalid data \n",athlete_events["Weight"][athlete_events["Weight"]<=0])

Checking for null values
 False    208241
True      62875
Name: Weight, dtype: int64

Insights on the column data
 count    208241.000000
mean         70.702393
std          14.348020
min          25.000000
25%          60.000000
50%          70.000000
75%          79.000000
max         214.000000
Name: Weight, dtype: float64

Chcking for invalid data
 Series([], Name: Weight, dtype: float64)

In [130]:
#C7:Team 
print("Checking for null values \n",athlete_events['Team'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",athlete_events['Team'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['Team'].value_counts())

Checking for null values
 False    271116
Name: Team, dtype: int64

Insights on the column
 count            271116
unique             1184
top       United States
freq              17847
Name: Team, dtype: object

Unique Values and their counts
 United States    17847
France           11988
Great Britain    11404
Italy            10260
Germany           9326
                 ...
Briar                1
Hannover             1
Nan-2                1
Brentina             1
Digby                1
Name: Team, Length: 1184, dtype: int64

In [132]:
#C8:Noc 
print("Checking for null values \n",athlete_events['NOC'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",athlete_events['NOC'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['NOC'].value_counts())

Checking for null values
 False    271116
Name: NOC, dtype: int64

Insights on the column
 count     271116
unique       230
top          USA
freq       18853
Name: NOC, dtype: object

Unique Values and their counts
 USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
       ...
YMD        5
SSD        3
UNK        2
NBO        2
NFL        1
Name: NOC, Length: 230, dtype: int64

In [134]:
#C9:Games
print("Checking for null values \n",athlete_events['Games'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",athlete_events['Games'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['Games'].value_counts())

Checking for null values
 False    271116
Name: Games, dtype: int64

Insights on the column
 count          271116
unique             51
top       2000 Summer
freq            13821
Name: Games, dtype: object

Unique Values and their counts
 2000 Summer    13821
1996 Summer    13780
2016 Summer    13688
2008 Summer    13602
2004 Summer    13443
1992 Summer    12977
2012 Summer    12920
1988 Summer    12037
1972 Summer    10304
1984 Summer     9454
1976 Summer     8641
1968 Summer     8588
1952 Summer     8270
1960 Summer     8119
1964 Summer     7702
1980 Summer     7191
1936 Summer     6506
1948 Summer     6405
1924 Summer     5233
1956 Summer     5127
1928 Summer     4992
2014 Winter     4891
2010 Winter     4402
2006 Winter     4382
1920 Summer     4292
2002 Winter     4109
1912 Summer     4040
1998 Winter     3605
1992 Winter     3436
1994 Winter     3160
1908 Summer     3101
1932 Summer     2969
1988 Winter     2639
1984 Winter     2134
1900 Summer     1936
1968 Winter     1891
1976 Winter     1861
1964 Winter     1778
1980 Winter     1746
1906 Summer     1733
1972 Winter     1655
1956 Winter     1307
1904 Summer     1301
1960 Winter     1116
1952 Winter     1088
1948 Winter     1075
1936 Winter      895
1928 Winter      582
1924 Winter      460
1896 Summer      380
1932 Winter      352
Name: Games, dtype: int64

In [135]:
#C10:Year 
print("Checking for null values \n",athlete_events['Year'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",athlete_events['Year'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['Year'].value_counts())

Checking for null values
 False    271116
Name: Year, dtype: int64

Insights on the column
 count    271116.000000
mean       1978.378480
std          29.877632
min        1896.000000
25%        1960.000000
50%        1988.000000
75%        2002.000000
max        2016.000000
Name: Year, dtype: float64

Unique Values and their counts
 1992    16413
1988    14676
2000    13821
1996    13780
2016    13688
2008    13602
2004    13443
2012    12920
1972    11959
1984    11588
1976    10502
1968    10479
1964     9480
1952     9358
1960     9235
1980     8937
1948     7480
1936     7401
1956     6434
1924     5693
1928     5574
2014     4891
2010     4402
2006     4382
1920     4292
2002     4109
1912     4040
1998     3605
1932     3321
1994     3160
1908     3101
1900     1936
1906     1733
1904     1301
1896      380
Name: Year, dtype: int64

In [136]:
#C11:Season 
print("Checking for null values \n",athlete_events['Season'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",athlete_events['Season'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['Season'].value_counts())

Checking for null values
 False    271116
Name: Season, dtype: int64

Insights on the column
 count     271116
unique         2
top       Summer
freq      222552
Name: Season, dtype: object

Unique Values and their counts
 Summer    222552
Winter     48564
Name: Season, dtype: int64

In [137]:
#C12: City 
print("Checking for null values \n",athlete_events['City'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",athlete_events['City'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['City'].value_counts())

Checking for null values
 False    271116
Name: City, dtype: int64

Insights on the column
 count     271116
unique        42
top       London
freq       22426
Name: City, dtype: object

Unique Values and their counts
 London                    22426
Athina                    15556
Sydney                    13821
Atlanta                   13780
Rio de Janeiro            13688
Beijing                   13602
Barcelona                 12977
Los Angeles               12423
Seoul                     12037
Munich                    10304
Montreal                   8641
Mexico City                8588
Helsinki                   8270
Roma                       8119
Tokyo                      7702
Moskva                     7191
Paris                      7169
Berlin                     6506
Amsterdam                  4992
Sochi                      4891
Melbourne                  4829
Vancouver                  4402
Torino                     4382
Stockholm                  4338
Antwerpen                  4292
Salt Lake City             4109
Innsbruck                  3639
Nagano                     3605
Albertville                3436
Lillehammer                3160
Calgary                    2639
Sarajevo                   2134
Lake Placid                2098
Grenoble                   1891
Sankt Moritz               1657
Sapporo                    1655
Cortina d'Ampezzo          1307
St. Louis                  1301
Squaw Valley               1116
Oslo                       1088
Garmisch-Partenkirchen      895
Chamonix                    460
Name: City, dtype: int64

In [138]:
#C13: Sport 
print("Checking for null values \n",athlete_events['Sport'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",athlete_events['Sport'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['Sport'].value_counts())

Checking for null values
 False    271116
Name: Sport, dtype: int64

Insights on the column
 count        271116
unique           66
top       Athletics
freq          38624
Name: Sport, dtype: object

Unique Values and their counts
 Athletics        38624
Gymnastics       26707
Swimming         23195
Shooting         11448
Cycling          10859
                 ...
Racquets            12
Jeu De Paume        11
Roque                4
Basque Pelota        2
Aeronautics          1
Name: Sport, Length: 66, dtype: int64

In [141]:
#C14: Event 
print("Checking for null values \n",athlete_events['Event'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",athlete_events['Event'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['Event'].value_counts())

Checking for null values
 False    271116
Name: Event, dtype: int64

Insights on the column
 count                      271116
unique                        765
top       Football Men's Football
freq                         5733
Name: Event, dtype: object

Unique Values and their counts
 Football Men's Football                                5733
Ice Hockey Men's Ice Hockey                            4762
Hockey Men's Hockey                                    3958
Water Polo Men's Water Polo                            3358
Basketball Men's Basketball                            3280
                                                       ...
Croquet Mixed Doubles                                     2
Archery Men's Target Archery, 50 metres, Individual       2
Archery Men's Target Archery, 33 metres, Individual       2
Archery Men's Target Archery, 28 metres, Individual       2
Aeronautics Mixed Aeronautics                             1
Name: Event, Length: 765, dtype: int64

In [143]:
#C15: Medal
print("Checking for null values \n",athlete_events['Medal'].isnull().value_counts(),"\n") #There are 231333 null values
print("Insights on the column \n",athlete_events['Medal'].describe(),"\n")
print("Unique Values and their counts \n",athlete_events['Medal'].value_counts())

Checking for null values
 True     231333
False     39783
Name: Medal, dtype: int64

Insights on the column
 count     39783
unique        3
top        Gold
freq      13372
Name: Medal, dtype: object

Unique Values and their counts
 Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

In [144]:
noc_regions=pd.read_csv("noc_regions.csv")

In [147]:
noc_regions.columns

Index(['NOC', 'region', 'notes'], dtype='object')

In [149]:
#Column: "NOC"
print("Checking for null values \n",noc_regions['NOC'].isnull().value_counts(),"\n") #There are no null values
print("Insights on the column \n",noc_regions['NOC'].describe(),"\n")
print("Unique Values and their counts \n",noc_regions['NOC'].value_counts())

Checking for null values
 False    230
Name: NOC, dtype: int64

Insights on the column
 count     230
unique    230
top       AFG
freq        1
Name: NOC, dtype: object

Unique Values and their counts
 AFG    1
NCA    1
NEP    1
NFL    1
NGR    1
      ..
GHA    1
GRE    1
GRN    1
GUA    1
ZIM    1
Name: NOC, Length: 230, dtype: int64

In [150]:
#Column: "Region"
print("Checking for null values \n",noc_regions['region'].isnull().value_counts(),"\n") #There are 3 null values
print("Insights on the column \n",noc_regions['region'].describe(),"\n")
print("Unique Values and their counts \n",noc_regions['region'].value_counts())

Checking for null values
 False    227
True       3
Name: region, dtype: int64

Insights on the column
 count         227
unique        206
top       Germany
freq            4
Name: region, dtype: object

Unique Values and their counts
 Germany           4
Yemen             3
Czech Republic    3
Serbia            3
Russia            3
                 ..
Ghana             1
Grenada           1
Guatemala         1
Guinea            1
Zambia            1
Name: region, Length: 206, dtype: int64

In [151]:
#Column: "Notes"
print("Checking for null values \n",noc_regions['notes'].isnull().value_counts(),"\n") #There are 209 null values
print("Insights on the column \n",noc_regions['notes'].describe(),"\n")
print("Unique Values and their counts \n",noc_regions['notes'].value_counts())

Checking for null values
 True     209
False     21
Name: notes, dtype: int64

Insights on the column
 count                       21
unique                      21
top       Netherlands Antilles
freq                         1
Name: notes, dtype: object

Unique Values and their counts
 Netherlands Antilles           1
Serbia and Montenegro          1
South Yemen                    1
North Yemen                    1
West Indies Federation         1
Unknown                        1
United Arab Republic           1
Tuvalu                         1
Trinidad and Tobago            1
Turks and Caicos Islands       1
Refugee Olympic Team           1
Antigua and Barbuda            1
Newfoundland                   1
North Borneo                   1
Virgin Islands                 1
Individual Olympic Athletes    1
Hong Kong                      1
Crete                          1
Bohemia                        1
Australasia                    1
Yugoslavia                     1
Name: notes, dtype: int64